body {
  margin: 0; 
  padding: 0; 
  
}


.display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}


.en-tete{
    
    
    
    
    color: blue;
    background-color: aqua;
    font-size: xx-large;
    width: 100%;
    
    
}

.divbt{

    height: fit-content;
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    
}



.radio-inputs {
  position: -webkit-sticky; 
  position: sticky;
  top: 0; 
  display: flex;
  justify-content: space-around; 
  background-color: rgba(128, 128, 128, 0.7);
  box-sizing: border-box;
  font-size: 30px; 
  width: 100%; 
  padding: 0rem 3rem 0rem 0rem; 
  z-index: 1000; 
  
}

  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0.5rem;
    color: ;
    transition: all 0.15s ease-in-out;
    position: relative;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #e8e8e8;
    
  }
  
  
  
  .radio-inputs .radio input + .name:hover {
    color: #fff;
  }
  .radio-inputs .radio input:checked + .name:hover {
    color: #1d1d29;
  }
  
  .radio-inputs .radio input:checked + .name::after,
  .radio-inputs .radio input:checked + .name::before {
    content: "";
    position: absolute;
    bottom: 0;
  }
  
  .radio-inputs .radio input:checked + .name::after {
    right: -10px;
    border-bottom-left-radius: 300px;
    
  }
  .radio-inputs .radio input:checked + .name::before {
    left: -10px;
    border-bottom-right-radius: 300px;
    
  }
  

  
.milieu{
  width: 100%;
  background-color: violet;
  display: flex;
  align-items: center;
  
  
  
}

.milieu h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(203, 54, 0);
}











.gauche{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    width: 50%;
    font-size: x-large;
    
}




.droite{
    background-color: chartreuse;
    width: 50%;
    font-size: x-large;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.milieu2{
  display: flex;
  justify-content: center;
  



  background-color: blue;
  width: 100%;
  font-size: x-large;
  
  
}

.equipe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}






.gauche3{
  display: flex;
  justify-content: space-around;
  background-color: firebrick;
  width: 50%;
  font-size: x-large;
  
}




.droite3{
  background-color: orchid;
  width: 50%;
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.gauche4{
  display: flex;
  justify-content: space-around;
  background-color: rgb(131, 11, 155);
  width: 50%;
  font-size: x-large;
  
}




.droite4{
  background-color: rgb(16, 144, 46);
  width: 50%;
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.imgfoot{
  width: 30%;
}



.card {
  width: 45%;
  background: rgb(44, 44, 44);
  font-family: "Courier New", Courier, monospace;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  margin: 1%;
}

.card__title {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(167, 159, 159);
  font-size: 0.95rem;
}

.card__data {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgb(203, 203, 203);
  border-left: 1px solid rgb(203, 203, 203);
  border-bottom: 1px solid rgb(203, 203, 203);
}

.card__right {
  width: 60%;
  border-right: 1px solid rgb(203, 203, 203);
}

.card__left {
  width: 40%;
  text-align: end;
}

.item {
  padding: 3px 0;
  background-color: white;
}

.card__right .item {
  padding-left: 0.8em;
}

.card__left .item {
  padding-right: 0.8em;
}

.item:nth-child(even) {
  background: rgb(234, 235, 234);
}