body {
  margin: 0; 
  padding: 0; 
  
}


.display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}


.en-tete{
    
    
    
    
    color: blue;
    background-color: aqua;
    font-size: xx-large;
    width: 100%;
    
    
}

.divbt{

    height: fit-content;
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    
}



.radio-inputs {
  position: -webkit-sticky; 
  position: sticky;
  top: 0; 
  display: flex;
  justify-content: space-around; 
  background-color: rgba(128, 128, 128, 0.7);
  box-sizing: border-box;
  font-size: 30px; 
  width: 100%; 
  padding: 0rem 3rem 0rem 0rem; 
  z-index: 1000; 
  
}

  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0.5rem;
    color: ;
    transition: all 0.15s ease-in-out;
    position: relative;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #e8e8e8;
    
  }
  
  
  
  .radio-inputs .radio input + .name:hover {
    color: #fff;
  }
  .radio-inputs .radio input:checked + .name:hover {
    color: #1d1d29;
  }
  
  .radio-inputs .radio input:checked + .name::after,
  .radio-inputs .radio input:checked + .name::before {
    content: "";
    position: absolute;
    bottom: 0;
  }
  
  .radio-inputs .radio input:checked + .name::after {
    right: -10px;
    border-bottom-left-radius: 300px;
    
  }
  .radio-inputs .radio input:checked + .name::before {
    left: -10px;
    border-bottom-right-radius: 300px;
    
  }
  

  
.milieu{
  width: 100%;
  background-color: violet;
  
}












.gauche3,
.gauche2,
.gauche{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    width: 50%;
    font-size: x-large;
    
}




.droite{
    background-color: chartreuse;
    width: 50%;
    font-size: x-large;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.gauche2{
  display: flex;
  justify-content: space-around;
  background-color: blue;
  width: 50%;
  font-size: x-large;
  
}




.droite2{
  background-color: yellow;
  width: 50%;
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-direction: column;
}




.gauche3{
  display: flex;
  justify-content: space-around;
  background-color: firebrick;
  width: 50%;
  font-size: x-large;
  
}




.droite3{
  background-color: orchid;
  width: 50%;
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.imgfoot{
  width: 30%;
}